<mat-nav-list>
    <div class="profilecard">
        <div class="header">
            <h2>Admin</h2>
            <h4>example.12@gmail.com</h4>
        </div>
        <img src="../../../../assets/images/demoimg.jpg" alt="">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/account">Acounts</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/members">Members</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list>