.profilecard {
    text-align: center;
    padding: 0px 10px 10px 10px;
}

.profilecard img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

mat-icon {
    vertical-align: middle;
    padding: 0px 12px 5px 0px;
}