<div fxLayoutAlign="center center" fxFlexFill class="login-main-div">
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">Login</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
            <mat-form-field>
                <input matInput placeholder="Username">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Password">
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">Login</button>
            <div fxLayoutAlign="start stretch">
                <span class="login-link-fp" color="blue">Forget password ?</span>
                <span class="login-link-fp" color="blue">Sign up</span>
            </div>
        </form>
    </mat-card>
</div>